name: 'Build And Test'

on: [push, pull_request]

jobs:
    Build-And-Test:
      runs-on: ubuntu-latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      steps:
        - uses: actions/checkout@v3         # checkout the repo
          with:
            submodules: recursive
        - uses: mymindstorm/setup-emsdk@v11 # setup emscripten

        - uses: actions/setup-python@v4     # setup python
          with:
            python-version: '3.10'

        - uses: BSFishy/pip-action@v1       # install python packages
          with:
            packages: |
              meson
              ninja

        - name: Write em.txt               # write em.txt
          uses: "DamianReeves/write-file-action@master"
          with:
            path: libultrahdr-wasm/em.txt
            write-mode: overwrite
            contents: |
              [binaries]
              c = 'emcc'
              cpp = 'em++'
              ar = 'emar'
              nm = 'emnm'

              [host_machine]
              system = 'emscripten'
              cpu_family = 'wasm32'
              cpu = 'wasm32'
              endian = 'little'

        - run: | # build WASM
            cd libultrahdr-wasm
            meson setup build --cross-file=em.txt
            meson compile -C build

        - uses: actions/setup-node@v3       # setup node
          with:
            node-version: 18

        - run: npm ci                       # install packages
        - run: npm run lint                 # lint source
        - run: npm run lint-examples        # lint examples
        - run: npm test                     # build & run tests

        - uses: actions/upload-artifact@v3  # upload build artifacts
          if: success() || failure()
          with:
            name: build-artifact
            if-no-files-found: error
            path: |
              libultrahdr-wasm/build/*.ts
              libultrahdr-wasm/build/*.js
              libultrahdr-wasm/build/*.map
              libultrahdr-wasm/build/*.wasm
              dist/
              junit.xml
