name: 'Publish wiki'

on:
  workflow_run:
    branches: [main]
    workflows: [CI]
    types:
      - completed

concurrency:
  group: publish-wiki
  cancel-in-progress: true

permissions:
  contents: write
  actions: read

jobs:
  publish-wiki:
    name: 'Publish Wiki'
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
        - name: 'Checkout repo'
          uses: actions/checkout@v3
          with:
            submodules: recursive

        - name: 'Download build artifacts'
          uses: dawidd6/action-download-artifact@v2
          with:
            name: build-artifact
            run_id: ${{ github.event.workflow_run.id }}
            workflow_conclusion: success


        - name: 'Setup Nodejs'
          uses: actions/setup-node@v3
          with:
            node-version: 20

        - name: 'Install Packages'
          run: npm ci

        - name: 'Produce Wiki'
          run: npx typedoc

        - name: 'Publish Wiki'
          uses: Andrew-Chen-Wang/github-wiki-action@v4
